@media screen and (min-width: 768px){

nav {
	position: relative;
}

ul {
	margin-left: -30px;
	list-style-type: disc;
}


.header {
	height: 200px;
	border-bottom: 1px solid #aeaeae;
}
#secondary{
	position: absolute;
	top: 98px;
	left: 0;
	width: 720px;
	margin-left: 22px;
	padding: 0;
	list-style-type: disc;

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aeaeae;
}

.hdetails{
	list-style-type: none;
	color: white;
	height: 130px;
	width: 550px;
	text-align: center;
	padding-top: 19px;
	font-size: 3em;
	line-height: 1.1em;
	font-weight: 300;
	margin-left: 50px;
}

.linav {
	display: inline;
	float: left;
	margin-left: 10px;
	width: 150px;
	min-height: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
	text-align: center;
}

a {
	display: block;
	color: white;
	font-size: 2em;
	text-decoration: none;
}

}
