<div id="header">
		<nav>
			<ul>
				<li class="linav">
					<a title="about" href="#">About</a>
				</li>
				<li class="linav">
					<a title ="projects" href="#">Projects</a>
				</li>
				<li class="linav"> 
					<a title="recognition" href="#"> Recognition</a>
				</li>
				<li class="linav"> 
					<a title="blog" href="#">Blog</a>
				</li>
			</ul>
			<ul id="secondary">
				<li class="hdetails">
					A selection of todays most popular movies. Explore the evolution of film as it is today. Search for movies and see their ratings. 
				</li>
			</ul>
		</nav>
	</div>

