<div id="header">
		<nav>
			<ul>
				<li class="linav">
					<a title="about" href="#">About</a>
				</li>
				<li class="linav">
					<a title ="projects" href="#">Projects</a>
				</li>
				<li class="linav"> 
					<a title="recognition" href="#"> Recognition</a>
				</li>
				<li class="linav"> 
					<a title="blog" href="#">Blog</a>
				</li>
			</ul>
			<ul id="secondary">
				<li class="hdetails">
					A selection of our prized collection. Each is unique - as they respond to time, place and the varied circumstances of history...
				</li>
			</ul>
		</nav>
	</div>

