
.projectscomponent{
	padding-top: 170px;
	margin: 50px;
	font-size: 2em;
}

p {
	color: grey;
	
}

ul {

	margin-left: -40px;
}
.liprojects {
	list-style: none;
	
}

a {
	text-decoration: none;
	color: white;
}
