body {
	color: #000;
	font-size: 62.5%;
	line-height: 1.8em;	
}

#page {
	width: 711px;
	margin: 28px auto;
	position: relative;
	overflow: hidden;
}

.container {
	margin-top: 160px;
}

.logo {
	padding-top: 20px;
	margin-left: 50px;
	width: 60px;
	height: 60px;
	position: absolute;
}

div {
	display: block;
}

@media screen and (min-width: 300px) and (max-width: 768px){
	.logo{ 
		margin-left: 36%;
	  margin-right: 25%;
	}

}

