body {
	color: #000;
	font-size: 62.5%;
	line-height: 1.8em;	
}

#page {
	margin: 28px auto;
	margin-right: auto;
  margin-left: auto;
}

.container-fluid {
	margin-top: 160px;
	margin-right: auto;
  margin-left: auto;
}

.logo {
	padding-top: 20px;
	margin-left: 50px;
	width: 60px;
	height: 60px;
	position: absolute;
}

div {
	display: block;
}


