
<div id="middle">
  <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>



<div  class="sform">
  <label>term:
    <input [(ngModel)]="term.input" placeholder="title">
  </label>
  <button type="submit" class="btn btn success" (click)="searchMovies()">Search!</button>
</div>


<div class="container">
  	<div id="content" class="container-fluid">
  		<div *ngFor="let poster of posters" class=" col-sm-3 col-sm-3">
  			<article class="p3">
  				<img src='https://image.tmdb.org/t/p/w500/{{poster.poster_path}}' class="frame" (click)="reqDetails()" (click)="open(content)">
  			</article>
  		</div>
  	</div>
  </div>
</div>




