#content {
	padding-top: 16px;
}

.row {
	zoom: 1;
	margin-left: -10px;
}

.p3 {
	display: inline;
	float: left;
	margin-left: 10px;
	width: 230px;
}

.a {
	display: block;
	height: 158px;
}

.frame {
	height: 158px;
	width: 230px;
}



.h2 {
	font-size: 1.25em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
}
body * {
	color: #fff;
}

div {
	display: block;
}