nav {
	position: relative;
}

ul {

	margin-left: -10px;
	list-style-type: disc;
}


.header {
	height: 200px;
	border-bottom: 1px solid #aeaeae;
}
#secondary{
	position: absolute;
	top: 98px;
	left: 0;
	width: 720px;
	margin: 0;
	padding: 0;
	list-style-type: disc;

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aeaeae;
}

.hdetails{
	list-style-type: none;
	color: white;
	height: 130px;
	width: 550px;
	text-align: center;
	padding-top: 19px;
	font-size: 3em;
	line-height: 1.1em;
	font-weight: 300;
}

.linav {
	display: inline;
	float: left;
	margin-left: 10px;
	width: 150px;
	min-height: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
}

#content {
	padding-top: 16px;
}

#content.row {
	zoom: 1;
	margin-left: -10px;
}
div {
	display: block;
}

.p3 {
	display: inline;
	float: left;
	margin-left: 10px;
	width: 230px;
}

a {
	display: block;
	color: white;
	font-size: 2em;
	text-decoration: none;
}

.a {
	display: block;
	height: 158px;
}

.frame {
	height: 158px;
	width: 230px;
}

.logo {
	margin-left: 50px;
	width: 60px;
	height: 60px;
	position: absolute;
}

#page {
	width: 711px;
	margin: 28px auto;
	position: relative;
	overflow: hidden;
}

#middle {
	margin-top: 300px;
	position: relative;
	min-height: 450px;
}

.h2 {
	font-size: 1.25em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
}

.container {
	margin-top: 160px;
}
.box {
	width: 230px;
	margin-left: 10px;
}

