<div id="middle">
  <div id="form" class="container">
    <div id="shift">
      <input [(ngModel)]="term.input" placeholder="title" class="sform">
      <button type="submit" class="search" (click)="searchMovies()">Search!</button>

      <div id="header" class="container-fluid">
      </div> 
    </div>
  </div>
<div class="container" (click)="moviesSwitch()">
  	<div id="content" class="container-fluid">
  		<div *ngFor="let poster of posters">
  			<article class="p3">
  				<img src='https://image.tmdb.org/t/p/w500/{{poster.poster_path}}' class="frame" (click)="reqDetails()" (click)="open(content)">
             <ng-template #content let-c="close" let-d="dismiss" let-item>
                    <div class="modal-header">
                      <h4 class="modal-title">{{poster.title}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                          <h3>{{poster.overview}}&hellip;</h3>
                    </div>
                    <div class="modal-footer">
                      <h3 style="float:left"> 
                      Rating: {{poster.vote_average}} </h3>
                      <button type="button" class="btn btn-outline-dark" id="watch" (click)="viewMovie()">
                      Watch
                      </button>
                      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                    </div>
                    <div id="dbox">
                      <ul>
                        <li class="slink">
                          <a href="https://www.netflix.com/search?q={{poster.title}}">Netflix</a>
                        </li>
                        <li class="slink">
                          <a href="https://www.hulu.com/search?q={{poster.title}}">Hulu</a>
                        </li>
                        <li class="slink">
                          <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dinstant-video&field-keywords={{poster.title}}">Amazon</a>
                        </li>
                    </ul>
                  </div>
            </ng-template>
  			</article>
  		</div>
  	</div>
  </div>
</div>




