/* You can add global styles to this file, and also import other style files */

body {
	color: #000;
	font-size: 62.5%;
	line-height: 1.8em;	
}

div {
	display: block;
}

.modal {
	top: 30%;

}

.modal-header {
	padding-top: 20%;
	
}

.btn {
	color: grey;
	background-color:rgba(0,0,0,0);
	margin-top: 15px;
}

.modal-body {
	max-height: 130px;
	overflow: scroll;
}
.modal-dialog {
	padding: 50px;
}

.modal-content {
	text-align: center;
	background: -webkit-linear-gradient(#333, #222);
  background: linear-gradient(#333, #222);
  color: 	grey;
}

.fade {
	opacity: 1;
}

.modal-backdrop.fade {
	opacity: .6;
}